<template>
<div class="container">
    <div class="header-wraper">
        <p class="header"> RWAV</p>
    </div>
<div  v-if="isLoading" >
   <div class="btn-container" >
       <button class="btn bg-color" @click="getPosts()"> Load Posts</button>
    </div>
</div>

 <div v-else class="blog-page">   
    <div class="content">
    <h2>Posts</h2>
        <div v-for="post in posts" :key="post.id" class="post-block">
            <div class="post-header">
                <p class="title"> 
                    {{ post.title}}
                </p>
            </div>
            <div class="body"> 
                {{ post.body}}
            </div>
            <div class="row">
                <div class="col-6"><p> PostID : {{ post.id }}</p> </div> <div class="col-6"> <p>UserID{{ post.userId }}</p></div>
            </div>
        </div>
    </div>
</div>



    
</div>
</template>
 
<script>
    export default {

        data() {
        
            return {
            isLoading:true,
                posts: []
            }
        },
          methods: {    
      async getPosts() {
                 axios
                .get(process.env.MIX_BASE_API,{                
                    params: {
                    _limit: 10
                    }  
                })
                .then(response => { 
                this.posts = response.data
                this.isLoading=false
                    },error=>{
                console.error(error);
                });
        },
        }
      
    }

</script>