@import url(https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,900;1,500;1,800&display=swap);
body{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
    height:100%;
}
.container{
    margin-top: 0px;
    margin-left: 200px;
    width:70%;
    background-color: #fff;
    position: absolute;
    min-height:100%;  
    box-shadow: 0px 2px 9px 7px #817b7b82;
}
.header-wraper{
    background-color:#d1d1d196;
    position:absolute;
    top:0;
    width: 100%;
}
.header{
color:#565f30;
margin: 20px;
font-size: 60px;
font-family: 'Rubik', sans-serif;

}
.btn-container{
    position: relative;
    top:160px;
    text-align: center;

}
.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap; 
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.bg-color{
    color: #fff;
    background-color: #306ea6;
    border-color: #306ea6;
}

.blog-page{
    position: relative;
    padding: 155px 33px 5px 33px;
}

.post-header{
    color:#306ea6;
    font-size: 17px;
    font-weight: 700;
    padding: 10px;;

}
.body{
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
}
.post-block{
    background-color:#d1d1d196;
    margin-bottom: 45px;
}
h2{
    color: #d76a27;
}
.row{
background-color: #d1d1d1;
overflow:auto;
}
.col-6{
    float: left;
    width: 50%;
}
.col-6 p {
    padding: 5px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
